<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - .NET med Razor</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/Moment1.1.styles.css">
</head>

<body>
    <header>
        <div>
            <img src="~/assets/logo.png" alt="logotyp">
        </div>
        <p>
            @{
                var date = DateTime.Today;
            }

            Dagens datum är: @date.ToString("d")
        </p>
    </header>

    <div class="container">
        <aside>
            <nav>
                <ul>
                    <li><a href="/Index">START</a></li>
                    <li><a href="/Razor">RAZOR</a></li>
                    <li><a href="/About">OM SIDAN</a></li>
                </ul>
            </nav>
        </aside>

        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>&copy; 2025 Jenny Lind. Kontakta mig via <a href="mailto:jeli2308@student.miun.se">e-post</a>.</p>
        <br>
        <button id="theme-toggle">BYT TEMA</button>
    </footer>

    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>