@page
@model AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<h1>@ViewData["Title"]</h1>

<div class="info-container">
    <p class="about">
        Jag som skapat denna webbplats heter Jenny Lind. Jag går sista terminen på webbutvecklarprogrammet vid
        Mittuniversitetet och
        kan inte fatta att utbildningen snart är slut! Är tacksam för alla lärdomar jag fått med mig och de som komma
        skall...

    </p>
    <div id="img-container">
        <img src="~/assets/img.png" alt="tecknad filur med penna i handen skriver idéer på en flipchart">
        <br>
        <br>
        <p>Bild hämtad från <a href="https://pixabay.com/sv/">Pixabay</a>.</p>
    </div>
</div>