@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<h1>@ViewData["Title"]en på Demos stora upptäckt</h1>

<div class="info-container">
    <p class="story">
        Demos äventyr började en solig morgon när han, som vanligt, sprang omkring i skogen. Han var en liten filur som
        älskade att undersöka nya platser, men det fanns alltid något som kändes svårare än allt annat. Den här dagen
        hade han bestämt sig för att lära sig något nytt. Han hade sett andra djur använda sina tassar för att bygga sina bo,
        och han undrade om han också skulle kunna göra det.
    </p>
    <p class="story">
        Demo började samla små kvistar och blad. Han försökte och försökte,
        men varje gång hans bygge rasade, kände han sig lite mindre säker. Men istället för att ge upp, tog han ett
        djupt andetag och började om. Han såg på det som var kvar och insåg att det inte handlade om att bygga det största
        eller finaste boet, utan om att hitta sin egen metod.
    </p>
    <p class="story">
        Efter många försök och lite tålamod, stod det plötsligt ett litet,
        men stabilt bo framför honom. När Demo såg på sitt verk kände han en stor värme sprida sig i kroppen. Han hade
        lärt sig något nytt och var stolt över vad han hade åstadkommit. Inte för att hans bo var det största eller
        vackraste, utan för att han hade kämpat och lärt sig på egen hand. Den dagen insåg Demo att även de små stegen leder till
        stora framsteg, och han kände sig nöjdare än någonsin.
    </p>
    <p class="story">
        Och så fortsatte Demos äventyr, med nya lärdomar varje dag...
    </p>
</div>
